<form #formularioCrearHacienda="ngForm"
      novalidate
      (submit)="emitirFormularioValido(formularioCrearHacienda)"
>
  <div>
    <p *ngIf="inputNombre.errors">

      <p-message
        *ngIf="inputNombre.errors.required"
        severity="warn"
        text="Error: El nombre es requerido"></p-message>

    </p>
    <label [hidden]="true"
           for="nombreHacienda">Nombre Hacienda</label>

    <div class="ulinputgroup">
      <input class="form-control"
             id="nombreHacienda"
             pInputText
             placeholder="Nombre Hacienda"
             required
             type="text"
             name="nombreHacienda"
             [(ngModel)]="nombreHacienda"
             #inputNombre="ngModel"
      >
    </div>
  </div>
  <div>
    <label for ="direccionHacienda">

    </label>
    <input class="form-control"
           id="direccionHacienda"
           name="direccionHacienda"
           placeholder="Direccion Hacienda"
           type="text"
           [(ngModel)]="direccionHacienda">
  </div>

  <div>
    <label for ="telefonoHacienda">

    </label>
    <input class="form-control"
           id="telefonoHacienda"
           name="telefono"
           placeholder="Telefono Hacienda"
           type="text"
           [(ngModel)]="telefonoHacienda">
  </div>

  <br>

  <div *ngIf="regiones" >
    <select  class="custom-select" id = idRegionHacienda name="idRegionHacienda" >
      <option *ngFor="let region of regiones" [value]="region.id" >
        {{region.nombreRegion}}</option>
    </select>
  </div>

  <br>

  <div class="trans text-center">
    <button class="btn btn-secondary btn-lg active" [disabled]="formularioCrearHacienda.invalid" (click)="crear()">
      {{nombreBoton}}
    </button>
  </div>

  <br><br><br>


</form>

<table *ngIf="haciendas" align="center">
  <table class="table table-hover animated fadeInUp">
    <caption>Lista de Haciendas</caption>
    <!-- tr -> table row -->
    <thead>
    <tr>
      <!-- th -> table header -->
      <th width="30%">Nombre</th>
      <th width="50%">Direccion</th>

      <th width="20%">Telefono</th>
    </tr>
    </thead>
    <!-- tr -> table row -->
    <tbody *ngFor="let hacienda of haciendas">

    <tr>

      <td>{{hacienda.nombreHacienda}} </td>
      <td>{{hacienda.direccionHacienda}}</td>
      <td>{{hacienda.telefonoHacienda}}</td>

      <td>
        <form action="/Hacienda/borrar/<%= hacienda.id %>"
              method="post"
        >
          <!--<button type="button">Yo no</button>-->
          <!--<button>Yo si</button>-->
          <button type="submit"
                  class="btn btn-outline-danger btn-block btn-espaciado"
                  onclick="borrar(event)">Eliminar
          </button>
        </form>
        <a class="quitar-decoracion" href="/Hacienda/actualizar-hacienda/<%= hacienda.id %>">
          <button class="btn btn-outline-info btn-block btn-espaciado"
                  type="button">
            Actualizar
          </button>
        </a>
      </td>
    </tr>

    </tbody>
  </table>

</table>

<br><br><br><br>
