<form #formularioCrearHacienda="ngForm"
      novalidate
      (submit)="emitirFormularioValido(formularioCrearHacienda)"
>
  <div>
    <p *ngIf="inputNombre.errors">

      <p-message
        *ngIf="inputNombre.errors.required"
        severity="warn"
        text="Error: El nombre es requerido"></p-message>

    </p>
    <label [hidden]="true"
           for="nombreHacienda">Nombre Hacienda</label>

    <div class="ulinputgroup">
      <input id="nombreHacienda"
             pInputText
             placeholder="Nombre Hacienda"
             required
             type="text"
             name="nombreHacienda"
             [(ngModel)]="nombreHacienda"
             #inputNombre="ngModel"
      >
    </div>
  </div>
  <div>
    <label for ="direccionHacienda">

    </label>
    <input id="direccionHacienda"
           name="direccionHacienda"
           placeholder="Direccion Hacienda"
           type="text"
           [(ngModel)]="direccionHacienda">
  </div>

  <div>
    <label for ="telefonoHacienda">

    </label>
    <input id="telefonoHacienda"
           name="telefono"
           placeholder="Telefono Hacienda"
           type="text"
           [(ngModel)]="telefonoHacienda">
  </div>

  <button [disabled]="formularioCrearHacienda.invalid" (click)="crear()">
    {{nombreBoton}}
  </button>


</form>
