<form #formularioLectura="ngForm"
      novalidate
      (submit)="emitirFormularioValido(formularioLectura)"

>
</form>

<div style="background-color: #92badd; height: 35px" >
  <h4 align="center">Lista de Focos</h4>
</div>

<br><br>

<table *ngIf="lecturas" align="center">
  <table class="table table-hover animated fadeInUp">
    <!-- tr -> table row -->
    <thead>
    <tr>
      <!-- th -> table header -->
      <th width="70%">Fecha</th>
      <th width="70%">Descripción</th>

    </tr>
    </thead>
    <!-- tr -> table row -->
    <tbody *ngFor="let lectura of lecturas">

    <tr>

      <td>{{lectura.fechaLectura}} </td>
      <td>{{lectura.descripcion}}</td>

      <td>
        <form
        >
          <!--<button type="button">Yo no</button>-->
          <!--<button>Yo si</button>-->
          <button type="submit"
                  class="btn btn-secondary btn-block btn-espaciado"
                  (click)="prender()">Foco-1
          </button>
        </form>
        <a class="quitar-decoracion" href="/Hacienda/actualizar-hacienda/<%= hacienda.id %>">
          <button class="btn btn-light btn-block btn-espaciado"
                  type="button">
            Foco-2
          </button>
        </a>
      </td>
    </tr>

    </tbody>
  </table>

</table>

<br><br><br><br>
