<!--&lt;!&ndash;The content below is only a placeholder and can be replaced.&ndash;&gt;-->
<!--<div style="text-align:center">-->
  <!--<h1>-->
    <!--Welcome to {{ title }}!-->
  <!--</h1>-->
  <!--<img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">-->
<!--</div>-->
<!--<h2>Here are some links to help you start: </h2>-->
<!--<ul>-->
  <!--<li>-->
    <!--<h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>-->
  <!--</li>-->
  <!--<li>-->
    <!--<h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>-->
  <!--</li>-->
  <!--<li>-->
    <!--<h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>-->
  <!--</li>-->
<!--</ul>-->

<!--<router-outlet></router-outlet>-->


<h1>Inicio</h1>

<ul>

  <li>
    <a routerLink="/inicio">Inicio</a>
  </li>

  <li>
    <a routerLink="/acerca">Acerca</a>
  </li>

  <li>
    <a routerLink="/contactanos">Contactanos</a>
  </li>

  <li>
    <a routerLink="/login">Login</a>

    <ul>
      <li>
        <a routerLink="/login/usuario-encargado"> Usuario Encargado </a>

        <ul>
          <li>
            <a routerLink="/login/usuario-encargado/perfil"> Perfil </a>

            <ul>
              <li>
                <a routerLink="/login/usuario-encargado/perfil/notificaciones"> Notificaciones </a>
              </li>

              <li>
                <a routerLink="/login/usuario-encargado/perfil/historial"> Historial </a>
              </li>

              <li>
                <a routerLink="/login/usuario-encargado/perfil/ajustes"> Ajustes </a>
              </li>
            </ul>

          </li>

          <li>
            <a routerLink="/login/usuario-encargado/reestablecer-contrasenia"> Restablecer Contraseña </a>
          </li>
        </ul>

      </li>

      <li>
        <a routerLink="/login/usuario-administrador"> Usuario Administrador </a>

        <ul>
          <li>
            <a routerLink="/login/usuario-administrador/gestion-usuarios"> Gestión Usuarios </a>
          </li>

          <li>
            <a routerLink="/login/usuario-administrador/asignar-sensor"> Asignar Sensor </a>
          </li>

          <li>
            <a routerLink="/login/usuario-administrador/gestion-hacienda"> Gestión Hacienda </a>
          </li>

          <li>
            <a routerLink="/login/usuario-administrador/parcelas"> Administración Parcelas</a>

            <ol>
              <li>
                <a routerLink="/login/usuario-administrador/parcelas/gestion-parcela"> Gestión Parcela </a>
              </li>

              <li>
                <a routerLink="/login/usuario-administrador/parcelas/gestion-subparcela"> Gestión Subparcela </a>
              </li>
            </ol>
          </li>
        </ul>
      </li>
    </ul>

  </li>

</ul>

<router-outlet></router-outlet>

<p> Footer </p>

