<h1 align="center">Gestione Parcela</h1>
<br><br>

<div class="container" >
  <div class="row" >
    <div class="col-3">

    </div>

    <div class="col-6" style="border-color: black; border: solid;">

      <br>
      <h2>Cree haciendas</h2>
      <br><br>
      <div class="row">
        <div class="col-sm-12">
          <app-formulario-gestion-parcela
            [nombreBoton]="'Crear'"
            (formularioValido)="crearParcela($event)"
          >
          </app-formulario-gestion-parcela>


        </div>
      </div>
    </div>
    <div class="col-3">

    </div>


</div>
