<p>
  ruta-inicio works!
</p>




<div style="background-image: url('http://www.solofondosdepantalla.net/fondos-de-pantalla/Abstractos/Fondo-de-pantalla-Abstracto-210.jpg')">
  <div class="container" >
    <br><br>
    <div class="col-2" style="text-align: left">
      <img class="img-fluid" src="/assets/imagenes/01-logo-epn.png"  alt="">
    </div>

    <div class="col-10">    </div>


    <br><br>

  </div>
</div>
<br>
<div class="container">
  <div class="row">

    <div class="col-4">    </div>

    <div class="col-6" style="text-align: right">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" routerLink="/" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" routerLink="/acerca" role="tab" aria-controls="nav-profile" aria-selected="false">Acerca</a>
          <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" routerLink="/contactenos" role="tab" aria-controls="nav-contact" aria-selected="false">Contáctenos</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"></div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"></div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab"></div>
      </div>
    </div>

    <div class="col-2" style="text-align: right" align="right">
      <button type="button" class="btn btn-dark" routerLink="/login">Iniciar Sesión</button>
    </div>

  </div>
</div>
<hr style="border-width:3px;border-color: black">
<br>

<br><br><br>
<div class="container">

  <div class="row">
    <div class="col-6">
      <img src="/assets/imagenes/02-sistema-riego.png"  alt="" class="img-thumbnail">
    </div>

    <div class="col-6">

      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Sistema de Riego</h1>
          <p class="lead">El Raspberry Pi es un computador del tamaño de una tarjeta de crédito, ejecutado en base a un sistema de código abierto y que posee además de un hardware básico, otro tipo de conexiones como pueden ser las de USB, HDMI, vídeo y sonido, entre otras. Además, se le puede agregar memorias SD, lo que significa que es compatible con un gran número de proyectos, y un punto también importante es que son muy económicos.</p>
        </div>
      </div>

    </div>
  </div>

</div>
