<form #formularioCrearSensor="ngForm"
      novalidate
      (submit)="emitirFormularioValido(formularioCrearSensor)"
>
  <div>
    <p *ngIf="inputNombre.errors">

      <p-message
        *ngIf="inputNombre.errors.required"
        severity="warn"
        text="Error: El nombre es requerido"></p-message>

    </p>
    <label [hidden]="true"
           for="codigo">Codigo Subparcela</label>

    <div class="ulinputgroup">
      <input class="form-control"
             id="codigo"
             pInputText
             placeholder="Codigo Sensor"
             required
             type="text"
             name="codigo"
             [(ngModel)]="codigoSensor"
             #inputNombre="ngModel"
      >
    </div>

    <br>

  </div>



  <div class="trans text-center">
    <button class="btn btn-secondary btn-lg active"[disabled]="formularioCrearSensor.invalid" (click)="crear()">
      {{nombreBoton}}
    </button>
  </div>

  <br><br><br>

</form>
