<form #formularioCrearUsuario="ngForm"
      novalidate
      (submit)="emitirFormularioValido(formularioCrearUsuario)"
>
  <div>
    <p *ngIf="inputNombre.errors">

      <p-message
        *ngIf="inputNombre.errors.required"
        severity="warn"
        text="Error: El nombre es requerido"></p-message>

    </p>
    <label [hidden]="true"
           for="nombreUsuario">Nombre Usuario</label>

    <div class="ulinputgroup">
      <input id="nombreUsuario"
             pInputText
             placeholder="Nombre Usuario"
             required
             type="text"
             name="nombreUsuario"
             [(ngModel)]="nombreUsuario"
             #inputNombre="ngModel"
      >
    </div>
  </div>
  <div>
    <label for ="cedulaUsuario">

    </label>
    <input id="cedulaUsuario"
           name="cedulaUsuario"
           placeholder="Cedula Usuario"
           type="text"
           [(ngModel)]="cedulaUsuario">
  </div>
  <div>
    <label for ="direccionUsuario">

    </label>
    <input id="direccionUsuario"
           name="direccionUsuario"
           placeholder="Direccion Usuario"
           type="text"
           [(ngModel)]="direccionUsuario">
  </div>

  <div>
    <label for ="telefonoUsuario">

    </label>
    <input id="telefonoUsuario"
           name="telefonoUsuario"
           placeholder="Telefono Usuario"
           type="text"
           [(ngModel)]="telefonoUsuario">
  </div>
  <div>
    <label for ="passwordUsuario">

    </label>
    <input id="passwordUsuario"
           name="passwordUsuario"
           placeholder="password Usuario"
           type="text"
           [(ngModel)]="passwordUsuario">
  </div>

  <button [disabled]="formularioCrearUsuario.invalid" (click)="crear()">
    {{nombreBoton}}
  </button>

</form>
